.options {
  gap: 1rem;
  width: 100%;
  justify-content: flex-start;
  overflow-x: scroll;
}

.option {
  width: 150px;
  justify-content: space-between;
  border: 1px solid var(--gray);
  padding: 0 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: border 250ms linear;
}

.selected {
  border-color: var(--brand-color) !important;
}
