/* Modal */
@keyframes appear-mobile {
  from {
    top: 100vh;
  }
  to {
    top: 0;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes disappear-mobile {
  from {
    top: 0;
  }
  to {
    top: 100vh;
  }
}

@keyframes disappear {
  to {
    opacity: 0;
  }
}

.dialog {
  all: unset;
  width: 100vw;
  height: 100%;
  position: fixed;
  z-index: 99;
  background: var(--bg-color);
  top: 0;
  will-change: opacity, top;
}

.dialog[open] {
  animation: appear 500ms ease forwards;

  @media only screen and (max-width: 768px) {
    animation: appear-mobile 500ms ease forwards;
  }
}

.dialog:not([open]) {
  animation: disappear 200ms ease forwards;

  @media only screen and (max-width: 768px) {
    animation: disappear-mobile 200ms forwards;
  }
}

.modal {
  @media only screen and (max-width: 768px) {
    height: 100%;
  }
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
