.header,
.section {
  padding-block: var(--p1);
}

.header {
  height: 20%;
}

.displayWrap {
  padding: var(--p2) 2rem;
  flex-direction: column;
  position: relative;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url('../public/images/pizzadisplay.jpg') center;
  background-size: cover;
  gap: 15px;
}

.displayWrap > a {
  max-width: 250px;
}

.displayText {
  text-align: center;
}

.dclarification {
  font: italic normal 400 20px/15px var(--font-poppins) !important;
  color: #ffffff;
}

.aboutLayout {
  flex-direction: column;
}

.aboutItem {
  width: 100%;
  height: 45vh;
  border-block: 1px solid var(--brand-color);
  display: grid;
  grid-template-areas: 'info img';
  grid-template-columns: repeat(2, 1fr);
}

.aboutInfo {
  text-align: left;
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--p1);
  border-right: 2px solid var(--brand-color);
}

.aboutInfo > span {
  max-width: 80%;
}

.aboutImg {
  grid-area: img;
  position: relative;
}

@media screen and (max-width: 768px) {
  .aboutItem {
    height: 600px;
    grid-template-areas:
      'info'
      'img';
    grid-template-columns: unset;
    grid-template-rows: repeat(2, 1fr);
  }

  .aboutInfo {
    border-bottom: 1px solid var(--brand-color);
    border-right: none;
  }

  .displayWrap > button {
    max-width: 100%;
  }
}
