.container {
  height: auto;
  width: auto;
  padding: var(--p1);
  overflow: hidden;
}

.header {
  display: flex;
  width: 1184px;
  height: 80px;
  justify-content: space-between !important;
}

@media only screen and (max-width: 768px) {
  .header {
    height: 8vh;
    width: 100%;
  }
}
